.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;

  input,
  button {
    font-size: 2rem;
    padding: 0.25rem;
    border: 3px solid #285b18;
  }
  button {
    background-color: #36573f;
    color: white;
    margin: 0.1rem;
  }
}
