* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.morePictures {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  button {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #252222db;
    color: white;
    cursor: pointer;
  }
}

@import "./nav";
@import "./search";
@import "./footer";
@import "./picture";
